<div class="container">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let game of games">
        <div class="card my-4" [style]="{'height': '23rem'}">
            <img ngSrc="{{game.image}}" class="card-img-top object-fit-cover" alt="{{game.description}}"  width="150" height="150">
            <div class="card-body d-flex align-items-start flex-column">
                <div class="card-title fs-4">
                    {{game.name}}
                </div>
                <div class="card-text fs-5">
                    {{game.description}}
                </div>
                <div class="card-text mt-auto">
                    <span class="badge bg-primary">Q {{game.price}}</span>
                </div>
            </div>
            <div class="card-footer text-end">
                <a href="/games/edit/{{game.id}}" class="btn btn-outline-primary">Edit</a>
                &nbsp;
                <a href="/games/delete/{{game.id}}" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>

</div>